.bg-light {
    background-color: #141414 !important;
} 
.letrav{
    color: rgb(255, 255, 255) !important;
    }

.fon_1{ 
    background-color: rgba(238, 15, 15, 0);
    
}
.letA{
    font-size: 3rem;
}
